<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/lpc/it8686e/control/0/plot" value="false" />
    <add key="/lpc/it8686e/control/1/plot" value="false" />
    <add key="/lpc/it8686e/control/2/plot" value="false" />
    <add key="/lpc/it8686e/control/3/plot" value="false" />
    <add key="/lpc/it8686e/control/4/plot" value="false" />
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/temperature/3/plot" value="false" />
    <add key="/intelcpu/0/temperature/4/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/clock/3/plot" value="false" />
    <add key="/intelcpu/0/clock/4/plot" value="false" />
    <add key="/intelcpu/0/power/0/plot" value="false" />
    <add key="/intelcpu/0/power/1/plot" value="false" />
    <add key="/intelcpu/0/power/2/plot" value="false" />
    <add key="/intelcpu/0/power/3/plot" value="false" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/fan/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/nvidiagpu/0/control/0/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/4/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/temperature/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="/hdd/2/temperature/0/plot" value="false" />
    <add key="/hdd/2/load/0/plot" value="false" />
    <add key="/hdd/3/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="565" />
    <add key="mainForm.Location.Y" value="110" />
    <add key="mainForm.Width" value="587" />
    <add key="mainForm.Height" value="458" />
    <add key="/lpc/it8686e/voltage/0/plot" value="false" />
    <add key="/lpc/it8686e/voltage/1/plot" value="false" />
    <add key="/lpc/it8686e/voltage/2/plot" value="false" />
    <add key="/lpc/it8686e/voltage/3/plot" value="false" />
    <add key="/lpc/it8686e/voltage/5/plot" value="false" />
    <add key="/lpc/it8686e/voltage/6/plot" value="false" />
    <add key="/lpc/it8686e/voltage/7/plot" value="false" />
    <add key="/lpc/it8686e/voltage/8/plot" value="false" />
    <add key="/lpc/it8686e/temperature/0/plot" value="false" />
    <add key="/lpc/it8686e/temperature/1/plot" value="false" />
    <add key="/lpc/it8686e/temperature/2/plot" value="false" />
    <add key="/lpc/it8686e/temperature/3/plot" value="false" />
    <add key="/lpc/it8686e/temperature/4/plot" value="false" />
    <add key="/lpc/it8686e/temperature/5/plot" value="false" />
    <add key="/lpc/it8686e/fan/0/plot" value="false" />
    <add key="/lpc/it8686e/fan/3/plot" value="false" />
    <add key="/intelcpu/0/expanded" value="false" />
    <add key="/mainboard/expanded" value="true" />
    <add key="/hdd/0/temperature/0/values" value="H4sIAAAAAAAEACsSsNmWLnXbg4FBxAkAwaRl6wwAAAA=" />
    <add key="/hdd/0/load/0/values" value="H4sIAAAAAAAEAHtpYrMtXeq2R0uMqBMAf7nr3gwAAAA=" />
    <add key="/hdd/1/temperature/0/values" value="H4sIAAAAAAAEAHNZabMtXeq2BwODgBMAJ7LbUAwAAAA=" />
    <add key="/hdd/1/load/0/values" value="H4sIAAAAAAAEAHNZabMtXeq2h0dTlxMAi29kZwwAAAA=" />
    <add key="/hdd/2/temperature/0/values" value="H4sIAAAAAAAEAPujaLstXeq2BwMDhxMAgLrCggwAAAA=" />
    <add key="/hdd/2/load/0/values" value="H4sIAAAAAAAEAPujaLstXeq2xwE3XUcAqSRi8QwAAAA=" />
    <add key="/hdd/3/load/0/values" value="H4sIAAAAAAAEAOvPtd2WLnXbg2/WJkcAMT88mgwAAAA=" />
    <add key="/nvidiagpu/0/temperature/0/values" value="H4sIAAAAAAAEANv18WhjutRtDwYGFyd1rkNODGDg4gQATQLyxhgAAAA=" />
    <add key="/nvidiagpu/0/fan/0/values" value="H4sIAAAAAAAEAFskdqwxXeq2B8OBSpfeG0lMDCAQUOViYA9lM1S5aDUlQtgfKl3OtCZD2BcqXe7cS4CwDapcnjtDxR9UuhjoJsHFDb4lwcUD4qFshSqXWVoI86NCoWyBKhceP4RdaprJcDYjYzJcvUpaItwNCgsRbr6ogLArQT4JriYsBmHX570IuzYIItQ7aaXA2VMyEG6o/AJlJ1S5mF9MhNvl8AnKBoYb53WEv5gfJsH1AgBJ1BOPXAEAAA==" />
    <add key="/nvidiagpu/0/clock/0/values" value="H4sIAAAAAAAEAFskdqwxXeq2B+OCYpd1jYecGIAAxAYAW+U0nxgAAAA=" />
    <add key="/nvidiagpu/0/clock/1/values" value="H4sIAAAAAAAEAFskdqwxXeq2x7mcKtd1jYecGIAAxAYAI4dKwRgAAAA=" />
    <add key="/nvidiagpu/0/clock/2/values" value="H4sIAAAAAAAEAFskdqwxXeq2B+OCzy7rGg85MQABiA0A8pLEJxgAAAA=" />
    <add key="/nvidiagpu/0/load/0/values" value="H4sIAAAAAAAEAJtsc6wxXeq2BwPDAfvtN5OYGMCgwf6WHYwt4BDblAgXv9iaDGUvsL9zPwEuznPUSgrGPvUzEa4mQT4Jzg6LQZi/+PwRFhjbSSsFKs7gkLMDpjfBwfULwl7BhZ2cMDYAg3MjdrQAAAA=" />
    <add key="/nvidiagpu/0/load/1/values" value="H4sIAAAAAAAEAJtsc6wxXeq2BwNDg/25pkNODGDQYA8ARVI+eBgAAAA=" />
    <add key="/nvidiagpu/0/load/2/values" value="H4sIAAAAAAAEAJtsc6wxXeq2BwMQnGs65MQABQDLMKFWGAAAAA==" />
    <add key="/nvidiagpu/0/load/3/values" value="H4sIAAAAAAAEAJtsc6wxXeq2BwMQbL+ZxMQABbfsYOwGu9imRLj4nfxXWjC2k1YKXE3ODrgae9cvCPWCCzs5YWwA39dLSGwAAAA=" />
    <add key="/nvidiagpu/0/load/4/values" value="H4sIAAAAAAAEANubcqwxXeq2h/HP2Y6L/ycxMQBBOuMcx7NiEPb1/7MdY5sT4exHa5LBbGagmkMTE8DsdpY5jpxZEPFo5jmOxmxJcPFzrslwvWdCX3PD2J+hdoHMUZGAmK/9b6aj6AmIuPjxmY75Rp2cMPYRIYj47FMzHRM0U8Bs5xMzHZ0fQPSab5zpOOcThP191UzHnYsgekFsAAyM8AjkAAAA" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="H4sIAAAAAAAEANubcqwxXeq2xwqxc66L/ycxMQABh8g517NiEHYHkB3bnAhnP1qTDGZrANmHJiZA1Aufc+XMgohnANnGbElw8XOuyXC9Z0Jfc8PYn6F2gcxRkYCY/2LHOVfRE1B7T51zzTfq5ISxjwhBxDNOnnNN0EyB6AWKOz+Auu3iOdc5n6Dsy+dcdy6C6gWyAditfgDkAAAA" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="H4sIAAAAAAAEANubcqwxXeq2R8LS4y6L/ycxMQDBg/XHXc6KQdlrj7vENifC2Y/WJIPZCUA1hyYmQMQ3H3fhzIKKbzruYsyWBBc/55oM13sm9DU3jP0ZahfIHBUJiPkJMkddRE9A9V494pJv1MkJYx8Rgqq/dcQlQTMFwr5+xMX5AdRtO4+4zPkEZW884rJzEVQvkA0AzaMfZ+QAAAA=" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="H4sIAAAAAAAEANubcqwxXeq2BwMDg9u8FYecGCDADQCJW9kUGAAAAA==" />
    <add key="/nvidiagpu/0/control/0/values" value="H4sIAAAAAAAEANubcqwxXeq2BwPDA0fR5kNODGDwwBEAKJj2EhgAAAA=" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAMvPi2tKl7rt4bFqnhNvbxITAxDcWzLPadnbRDB7zqJ5Tm9OQ9hXFs5zkk5OBrNV5wLZByHiDBPnOc17BtF7YPM8p64JEHbGoXlOqnMgao7sm+eUKQbR+2rvPKecOxDxJCD7owpEvRyQ/f0ohD1h/zyn2lQIO/HgPCcPLgjbTGq+U8MWCNunaoGTgAyEPUt+gRNHAcRMj+PznZKKIXa92z3fKSoboubkjvlOc65A1Jhtme8kfBYibg5kT9aGsKua5juxvYOoyVaZ75T6EMK+xjHfKXQSxEwzdqBeO4h6Ztb5TrucIewvjPOdHoZD2N9+znMCAGrLyGxcAQAA" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAMvPi2tKl7rtUZnq5cjbm8TEAAQT4rwcl71NBLM3RHs5vjkNYW+M8nKUTk4Gs7eHANkHIeKWrl6O855B9PYVejl2TYCw7Vu8HFXnQNTMqvdyzBSD6G2p83LMuQMRv1br5fhRBaK+Acj+fhTCnt/g5VibCmF/aPJy9OCCsB2/eDk2bIGwE7f6OArIQNjrHX0cOQogZrJf9HZMKobY1XXI2zEqG6KmY5+345wrEDWbd3g7Cp+FiG8BsidrQ82v9HZkewdR48bo7Zj6EMIWv+flGDoJYibzHS9HYTuIetObXo67nCFs/6tejg/DIWzZ016OAHYeKrVcAQAA" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAMvPi2tKl7rt8edFkANvbxITAxAsYAl2WPY2EcxWEAh2eHMawpYRCXaQTk4Gs1l0gOyDEPE/mcEO855B9K7YEeTQNQHCfpIb5KA6B6KmoiHIIVMMovdCS5BDzh2IeEd7kMNHFYj6Bx1BDt+PQtgpNUEOtakQtkJxkIMHF4R9Z22AQ8MWCDtmpaeDgAyErVLh7cBRADHziJWvQ1IxxK4dJb4OUdkQNQdafB3mXIGoEZnj6yB8FiIuAGRP1oaaP9PPge0dRM2JygCH1IcQdgtboEPoJIiZV/gCHYTtIOp5pAIddjlD2Es0Ax0ehkPYOUGBDgBy45CSXAEAAA==" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEAPu19UhjutRtD0ZfWaeKlCQmBhAo0HXUS4WyDSId/T8lQtgBpY4LDkLFF9g5cjZBxTekOj6TSYawBfIdRYuhambMc8yGmenQ7PiYLwluzpUqKNujyzEJxuZoceSbAzVzQpJjpwrUTIM+xx2ZUDUX/B3lmKBsrn1OwguhbIupjrPdkuB6m/4kwt1ZWA0Vb8h1/DwLYddJISj7RYOjdkAKmL2xeodj+7IEMFuqjcMp2wmq5kGZY6gzzF+tjjfCoOYfKHa00IC6c8Vkx087oGoYEh0BHFGaKlwBAAA=" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEANPOPtKYLnXbY0Oeq5P7+iQmBhBoUHLUS4WyGTwc/T8lQtgJbY4LDkLFDzg6cjZBxRtyHZ/JJEPZixxFi6FqFvQ4ZqdA2QozHR/zwcwPcbxShVCTBGM/mOTINwdq5oEox06VZLiaHZkI98gxQdkGB5yEFyLMn+0GZTukOzb9SYS7s7AaIf55Fsz9xY4nhRBs7YAUMHuj8RHH9mUJYPYGAWanbCeE+aHOMPX9jjfCEuFus9CAujNhvuOnHUlw9wMAiwqDV1wBAAA=" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEAPu19UhjutRtjzhnaaeKlCQmBhA44OiolwplO8g4+n9KhLAZPBwXHISJmzpyNkHFHdIdn8kkw9mixVA1CTscs2FmKjQ4PuaD6W12vFIFZS/ocUyCsRmqHPnmQM08EOXYqQI1M2G+445MmJpERzkmKFtgr5PwQpibVzjOdkuCq2/6AzWnwdqxsBqmptjx86wkuDtPCsHcsNRROyAFzE46vsuxfVkCmL1lwmfHbCeYmW2Ooc4I998IQ7jTQgPqzoZOx087oGoach0BvJ2KLlwBAAA=" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEAPu19UhjutRtD5XrXxwrUpKYGEDggKOjXiqU7eDn6P8pESpe7LjgIFScwcORsykRruaZTDJUPNFRtBiqpmGRYzbMTKD4Y74kuDlXqqDsBT2OSTC2Q7Mj3xyomQ8mOXaqQM1UaHDckQkz09pRjgnKvrHXSXghwpzZbjC7xByb/sDcZupYWI3wy+dZUHZCm+NJIZiZIY7aASlgth/PUsf2ZQlgdq/6NcdsJ4SaUGcYu9PxRhjC7xYaML9Pc/y0A+bHKEcAlguTgVwBAAA=" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEAPu19UhjutRtj1QxKaeKlCQmBhA4wO+olwplK8x09P+UCGEntDkuOAgVb7B25GyCih8odnwmkwxhM+g7ihZD1TyY5JgNM9Oh2XF75xEWGDupCirOUOXINycRrrdTBWrOgh7HHZkw90Q5yjFB2QJ7nYQXJsHdM9sNZr6fY9MfmDkejoXVCDWfZ8HUzHE8KZQEd7N2QAqYnfR8r2P7sgQwe6q2lVO2UxLcnFBnhPobYYhwsNCAuvNAv+OnHTD1iY4AccoGnFABAAA=" />
    <add key="/intelcpu/0/temperature/0/values" value="H4sIAAAAAAAEAPu19UhjutRtDwaGQKeKlCQmBjBwctJLhbFdnfw/JULZtk4rnY+wwNjPZJKh4g5OosUw9fZO2XBz7Jwe88HYNk5XqmBsK6ekKoQ435xEuPpOlWS4mh2ZCPVyTDB2mpPwwiS4e2a7Iexq+pMIN7OwGiH+eRaCfVIIxnZ00g5IgYu3L0uAst2dsp0Q6kOdEe7sr0+Eu6fxP8INn3bA2NZOAI/aCKlQAQAA" />
    <add key="/intelcpu/0/temperature/1/values" value="H4sIAAAAAAAEAPu19UhjutRtDwaGQKeKlCQmBjBwdNJLhbHdnPw/JULZDk4LDibB2ZxNMHEnp2cyyVC2s5NoMUyNvVN2CoL9mA/GtnO6UgVj2zglIbH55sDMtHXqVEmGi8+ZAFNj6WR1G6Ym00l4IcL82W5JcDc0/UGYU1iNsPfzLIT6k0II9doBKXDx9mUJULa7U7YTQn2oM8Kc/vpEuHsa/8PErZ0+7UCwAd+4AZdcAQAA" />
    <add key="/intelcpu/0/temperature/2/values" value="H4sIAAAAAAAEAPu19UhjutRtDwYGP6eKlCQmBjBwctJLhbHdnG6LwdgOTiJzEWzOpkS4+mcyyVC2i5NoMUyNo1M23Ex7p8d8CPaVKhjb2impCiHONwdmpq1TpwrMTCunORNgamycrG7D1KQ7CS9E2DXbDeH+pj+JcDMLqxFu/jwLoeakEEKvdkAKXE37sgQo28Mp2wmhN9QZ4U75ZTDzLZw+3oCJWzp92pEEdzMAoBDCQVwBAAA=" />
    <add key="/intelcpu/0/temperature/3/values" value="H4sIAAAAAAAEAPu19UhjutRtDwYGP6eKlCQmBjBwcNJLhbE9nG6Lwdj2TilHYGxbp51RiVC2ndMzmWQo28lJtDgJLp4NN9PK6TEfjG3jdKUKxrZwSqpCqOGbkwhnd6rAzDRzmjMBod7qNkxNqpPwQoR7Zrslwd3Q9AdhTmE1wt7PsxDsk0IIvdoBKXC97csS4H7PdkKoCXWGsa2d5Jclwt328QZM3NLp044kuDgACpk7ulwBAAA=" />
    <add key="/intelcpu/0/temperature/4/values" value="H4sIAAAAAAAEAPu19UhjutRtDwaGEKdl3UlMDGDg7HQ1Bcb2cmL7kAhlOzilHEmCs3dGwcSdnN46J0PZbk58PjA1jk7ZKQj1NmYI9qIKGNvGyToUxrZ34psDM9POqVMFZqat05wJSXC21W2Ymkwn4YUIu7bkJsHdkHk1EW5mYTVCzedZSXA3nxRC+Fc7IAXKdnXyP5sAZfs6LZZGuDnUGcGWX5YId//HG0lwN3/agXAnAFabFYdcAQAA" />
    <add key="/intelcpu/0/clock/0/values" value="H4sIAAAAAAAEANv18WhjutRtj6WMJ5zCO5OYGIDg9//jTu5pEPZfIFtxVSKY/QfInsOXDGb/ArL5QhLhahxckuHs09pJcPW9zUlw9Q0WCPOzKxBqeMMQdj2fibBLnSUZrv7URiS9tyBq/gPZMgsR4oIqCPZEGYSZn+MQdu3fhWC/EESoOaKTgnDzpwQw+weQHSmdBLfrkyxCr8DpRLi/WK8j2bUTwv4HZAMAbcuex1wBAAA=" />
    <add key="/intelcpu/0/clock/1/values" value="H4sIAAAAAAAEAPvEerQxXeq2x63AGFemriQmBiD4Nf+Dy+oUCPvfe0vXyZ8Twew/QHG3QxBxhoQdLi6RUPH4Vy4sLskQtr+z6yJfiJq//NyuTxIQZnpZQdi//x93OVsOVVO/yOVzKNSu+B0ufLMgZv63Z3bl14Ca+f+ny46+JKgblrqU3YSq+Z/gWroQan79W5e4XKgae1PXS1chav7mu7muq0eIK0+HukE/0vW9INTeemtX14AUCDtf11XzfAJEDVB9vyTUvw3WrlxuELaEgIrrxCVQv9d3uly/CjWzfreL8m4I+//9uy4ATccG8FwBAAA=" />
    <add key="/intelcpu/0/clock/2/values" value="H4sIAAAAAAAEAKsIPdqYLnXb41ZgjKtZZxITAxD8sn/uUp0CYf97b+nadCERzP4z/4OL4HOIOEPCDhf3CKj4/W8uZ5ySIWx/Z9cY/yQoW9B1bxzCzFYLCPt3/RWX3EoI+2/9Ipf1IVC74ne4GM+FmPmvntP1IhPUzP8/XQ5tgpppP8cl9yZEzf//Ca49C6HmnJd1dfaEqTF1vf4NouZvvpurQzxUHKh+wk6oG/QjXZ8JQe2tt3b10k6BsPdruFp/SYCoAZojIw31b4O1a4UihC0hoOLaexzq9/pOF4ZrMH/tdvmyC8L+f/+uCwBRRoBsXAEAAA==" />
    <add key="/intelcpu/0/clock/3/values" value="H4sIAAAAAAAEAJu6+GhjutRtj1uBMa7FnUlMDEDwy/65i1kahP3vvaXr41WJYPaf+R9cPvImg9kMCTtckkIg4v/WM7pWO0PE//R7ulYEQPT+8Rd0VYhHmHnSHML+XX/FxawSwv5bv8iFOwxqV/wOF45ZUDPrOV35WJLh9rJvhpppP8fF6iZEzf//Ca7NC6HmnJd1/e4GVVNv7XrwB0TN33w315IYqDhQ/fK9UDfkx7s+F4TaC1T/QycFov6/nmvepwSIGntTV19piBqGBmvXFEUIW0JAxXXuUYj5v/9PdXl+HWrm/+MuW/ZA2P/v33UBACM4gYhcAQAA" />
    <add key="/intelcpu/0/clock/4/values" value="H4sIAAAAAAAEANv18WhjutRtj1uBMa7hnUlMDEDwy/65i3sahP3vvaWr4qpEMPvP/A8uc/iSwWyGhB0ufCEQ8X/rGV0dXCDif877u57Whuj94y/o2tuMMLPBAsr+/8AluwLC/lu/yIU3DGpX/A6X5zOhZtZzuqqzJMPtPbURaqb9HJfsWxA1//8nuMoshJpzXtZVUAWqpt7adaIM1Mz9jq6f46DiQPX7d0HYv/PjXV8IQtUA1R/RSYGY02/g2vspAaLG3tQ1UhqihqHB2vWTLIQtIaDiKnAa4obf/6e6sF6Hmvn/uMvnnRD2//hXLgCGESlhXAEAAA==" />
    <add key="/intelcpu/0/power/0/values" value="H4sIAAAAAAAEANv18WhjutRtj1niUY7hnUlMDEBwNX2fg3sahP1fkdtRcVUimB1yZZ/DHL5kMHvXjuMOfCEQ8XCxIw4OLhBxicwHDqe1IXptyi469DZD2JPMzzk0WEDYW1hOOWRXQNhN3IcceMMg7H+8Jxyez4SYudTkmIM6C8TMMyZnHU5thKhp0TnhkH0LoubMx2uOMgsh4qrRjI6CKhC2hB+r40QZCNvM6qLD5zgI+1Muo+P+XRD25EuvHV4IQtU0fXc4opMCZsvlsTv2fkoAsw2M7BwjpSFq7nB9dfgkC2Frtzx0EDgNcUP28f0OrNch4ib/zjt83glhH1myzwEAEWM8RVwBAAA=" />
    <add key="/intelcpu/0/power/1/values" value="H4sIAAAAAAAEANv18WhjutRtD+tMecfwziQmBiCwqFNwcE+DsEWalzsorkoEsz+bKzrM4UsGs5O+GjnwhUDEr+/TdnBwgYq/THY4rQ3Ru/y3q0NvM4QtcM/eocECwvbuMXfIroCwu1apO/CGQdjflxk7PJ8JMfPVJ30HdRaImVeO2Dqc2ghRU3LQ2CH7FkSN3t0djjILIeLHTk12EFSBsHuk5zhMlIGwOxndHD7HQdjHHac47N8FYfefqHJ4IQhhv+XqdDiikwJmt/yc79D7KQHMVpJmc4yUhqhZ39Pm8EkWwl6QnuYgcBriBnkFZQfW6xDxZzrODp93QthsPxQcANrjFEtcAQAA" />
    <add key="/intelcpu/0/power/2/values" value="H4sIAAAAAAAEANv18WhjutRtDwYgsHh80IkBCgBWoDKGGAAAAA==" />
    <add key="/intelcpu/0/power/3/values" value="H4sIAAAAAAAEANv18WhjutRtDwYgsHh80IkBCgBWoDKGGAAAAA==" />
    <add key="/lpc/it8686e/voltage/0/values" value="H4sIAAAAAAAEAOOJim1Kl7rtkfA0wP5JWhITAxCcWphqr/EyEcz+pmFjv+QShK1829LeIDEZzNaM8bdnmgsRj0qxtk/jhohzrKmxj82EmAMy88NBiJqTZXb2Ah8g4lUiefb/WSDs5gNe9o7KEPYD/1z7Hcch7DeBFvbvkiFsxwRXe0YeCPuCUrX9wo0Qtmlclf092SS4e6SmQOz6uzLQvssP4h7u6872F6HucQKas+AaRA2Tdrp91lmEXfN8IWwtoDnTT0LU6N9Nsc/dnQhXkzcZYub++Vb26SkQ9UcVAuztZCBs3U229gYLEf4CAJtKf3RcAQAA" />
    <add key="/lpc/it8686e/voltage/1/values" value="H4sIAAAAAAAEAOOJim1Kl7rt0XyAyeFJWhITAxCA2BovE8HsmH4mhyWXEuHiBonJcHGmuQjxNG6EeGxmEpz94SBEzaqPTA4CHxDiDhpHWGDsHccR9r5LRrAZeRDq688j1EtNQdjb5Yew9yKSvQuuIezNOosQLz/1mhvGtpOBiF9UYnYwWIhQAwBTTTWUFAEAAA==" />
    <add key="/lpc/it8686e/voltage/2/values" value="H4sIAAAAAAAEAOOJim1Kl7rtUZzB6PAkLYmJAQh8zBkdNF4mgtkg8SWXIGxVNkYHg8RkuDjTXIR4GncyXG9sZhJczYeDiXBxgQ8I8f8sCLsclZPg5uw4jmC/S0aoYeRBsBduRKi5J4sQl5qCsKvLD+KeWTMZHS5mItQsuIZwc9ZZhHvm+SLMnH4SoubfFQaH3N0IM/MmI/yYnoJQbyeDMMdgIcIuAIpjaz1cAQAA" />
    <add key="/lpc/it8686e/voltage/3/values" value="H4sIAAAAAAAEAOOJim1Kl7rtMWsmo8OTtCQmBiA4eIrR4d/ODk4YO407GSzuY87oEJsJUQNSz7DpCAuM/Z8Fofe5nzo7jM3Ig1C/cCOEXZzB6HBPFqFe8bCgMIydNzkZriY9BaEmby/ELhAbAN7DfVi0AAAA" />
    <add key="/lpc/it8686e/voltage/4/values" value="" />
    <add key="/lpc/it8686e/voltage/5/values" value="H4sIAAAAAAAEAOOJim1Kl7rtYbmlw36Dkho7AxCA2AaJyUwg9uvADnumuYlMMPHec9fMYGwAymSLyzwAAAA=" />
    <add key="/lpc/it8686e/voltage/6/values" value="H4sIAAAAAAAEAOOJim1Kl7rtwbFmjj1PwBEWBiAAsZdcSmQCscP45tobJCbD2UxzIeK7POfYp3FDxEHqYzOT4OwPBxFq+L9CzASxHZURanYch7Bzns+2f5ecBFfPyINQs3AjQvyeLEJc1s6PD8aefhLhztzdiXA1eZMRbktPQZhjJ4Mwx2Ahgg0AK/lQ7AgBAAA=" />
    <add key="/lpc/it8686e/voltage/7/values" value="H4sIAAAAAAAEAOOJim1Kl7rtUTo5wmGDkho7AxCA2AaJyUwg9q1z4Q5McxPBbHXDCIc0bog4SE1sZhKc/eEgQo3AB4T4s+BOThibkScJrmbhRoSae7IQtgZQXGpKItzeLj+EXRehdt0Eii+4lggXfzjdjw/GtpNBmG+wEGE+ALbcQ6PkAAAA" />
    <add key="/lpc/it8686e/voltage/8/values" value="H4sIAAAAAAAEAOOJim1Kl7rtIbrO3SH//UEnBiAAsQE2+uuwGAAAAA==" />
    <add key="/lpc/it8686e/temperature/0/values" value="H4sIAAAAAAAEAOOJim1Kl7rtwcCg4JT//qATAxgoOAEAxxR7/hgAAAA=" />
    <add key="/lpc/it8686e/temperature/1/values" value="H4sIAAAAAAAEAOOJim1Kl7rtwcBg4pT//qATAxiYOAEA5XDLrxgAAAA=" />
    <add key="/lpc/it8686e/temperature/2/values" value="H4sIAAAAAAAEAOOJim1Kl7rtwcCg6PQkLYmJAQwknTReJkLZMk5LLsHYEk5fi7o4YewPB2HiYk4CH2B6RZ3+s8DYIk4/Xx1hgbHfJSPUMPIkwc1fuBHGtnS6J4twg9QUmPlSTl1+yXAzL2Ymwe1dcC0RbmbWWYS983yT4Hqnn0SYk7sb4ea8yQgz01MQeu1kYGwhJ4OFMLaAEwANKQcSLAEAAA==" />
    <add key="/lpc/it8686e/temperature/3/values" value="H4sIAAAAAAAEAOOJim1Kl7rtwcAg45T//qATAxjIOAEAobirDBgAAAA=" />
    <add key="/lpc/it8686e/temperature/4/values" value="H4sIAAAAAAAEAOOJim1Kl7rtwcAg4fQkLYmJAQzEnTReJkLZYk5LLiXCxQ0Sk6FsEac1ytfFYeyFGxF678kmwfVKTUmEq/d6YiUFYwMAErbv73gAAAA=" />
    <add key="/lpc/it8686e/temperature/5/values" value="H4sIAAAAAAAEAOOJim1Kl7rtwcAg45T//qATAxjIOAEAobirDBgAAAA=" />
    <add key="/lpc/it8686e/fan/0/values" value="H4sIAAAAAAAEAOOJim1Kl7rtsfLGX5cnaUlMDEBw+/InF42XiWD2jM1fXZZcgrAP2H10MUhMBrMTdn1wYZqbCGencUPEPYU+usRmQsyZ8uyDy4eDEDVuvB9cBD5AxPVaX7v8Z4Gw89a/dnFUhrDX3XztsuM4QvxdMoT9DMhm5IGw5/C8dVm4EcJWzudwvScLYatHf3WRmgKx60fAR5cuP4h7dre+dbkIdc/lgx9cFlyDqBFie+OSdRYivpn5jcs8XwjbCGjX9JMQNRe7v7jk7oawO4H+ypsMMfNVxBuX9BSIeq3o1y52MhD2EqmXLgYLIWwzi2cuAL/6McZcAQAA" />
    <add key="/lpc/it8686e/fan/1/values" value="H4sIAAAAAAAEAOOJim1Kl7rtwQAE+e8POjFAAQDhTJjjGAAAAA==" />
    <add key="/lpc/it8686e/fan/2/values" value="H4sIAAAAAAAEAOOJim1Kl7rtwQAE+e8POjFAAQDhTJjjGAAAAA==" />
    <add key="/lpc/it8686e/fan/3/values" value="H4sIAAAAAAAEAOOJim1Kl7rtsVzI0+VJWhITAxDc3O3povEyEcwOiPd0WXIJwnYx9HQxSEwGs0PqPF2Y5kLEm3o9XdK4IeJhazxdYjMh5gSd9nT5cBCiJhMoLvABIv5xjqfLfxYI2x6oxlEZwo4Gsncch7BlX3m6vEuGsDcCzWfkSYKbs3AjhG0FdM89WQhb5ZiHi9QUiF1TgH7p8oO45zXQLxeh7ll3y9NlwTWImkt5ni5ZZxH+neeLYE8/CVEjA/Rj7m4IWyrA0yVvMsTMJGCYpKdA1OcA2XYyEDbLXGD4LISwu4FuBgAsHUwoXAEAAA==" />
    <add key="/lpc/it8686e/fan/4/values" value="" />
    <add key="/lpc/it8686e/control/0/values" value="" />
    <add key="/lpc/it8686e/control/1/values" value="" />
    <add key="/lpc/it8686e/control/2/values" value="" />
    <add key="/lpc/it8686e/control/3/values" value="" />
    <add key="/lpc/it8686e/control/4/values" value="" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
  </appSettings>
</configuration>